body {
    font-family: sans-serif;
    background-color: yellow;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 250px;
}

.img-1 {
    height: 200px;
}
.right {
    text-align: right;
}





