body {
    font-family: sans-serif;
    background-color: yellow;
    margin-top: 75px;
     
}

.center {
    text-align: left;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

.h1{
    text-align:center;
    font-size: 200%;
    font-weight: bold;
}

}





